body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}
.contacts-link,
.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.section-one {
  background-color: #2e2f42;
}
.title-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.button-type {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}
.button-type:hover,
.button-type:focus {
  background-color: #404bbf;
}
.title-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-three {
  background-color: #f4f4fd;
}
.title-three,
.title-four {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.title-name,
.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-section-three,
.paragraph-section-four {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-three {
  background-color: #fff;
}
.paragraph-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.page-footer {
  background-color: #2e2f42;
}
.footer-logo .logo-part-footer {
  color: #f4f4fd;
}
.conteiner {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.conteiner {
  display: flex;
  justify-content: space-between;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;
}
.header-nav {
  display: flex;
  gap: 40px;
}
.nav-list {
  padding: 24px 0;
  display: flex;
  gap: 40px;
}
.nav-item {
  padding: 24px 0;
}
.contacts-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.section-one {
  padding: 188px 0;
}
.title-one {
  max-width: 496px;
}
.button-type {
  display: block;
  min-width: 169px;
  border: none;
  height: 56px;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
